.controller.xbox.custom {
  background: url(https://www.mediafire.com/view/2dz5lj8i45ois34/ControllerbuttonsNOTpressed.png);
  height: 630px;
  width: 750px;
  margin-left: -375px;
  margin-top: -285px;
}